.formHeading {
    color: #9553a0;
    font-size: 2rem;
    font-weight: bold;
}
.loginBtnStyle {
    background-color: #cf96d9;
    color: white;
    font-weight: bold;
}
.loginBtnStyle:hover {
    background-color: #c177ce;
    color: white;
    
}
.registerLinkStyle {
    cursor: pointer;
    color: blue;
}