.homeBackStyle {
    min-width: 80vw;
    width: 100vw;
    min-height: 90vh;
    max-height: 100vh;
    background-color: #c19ee0;
    overflow-x: auto;
    overflow-y: auto;


    .nodatadivstyle{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .nodataimgdivstyles {
            width: 30%;
            text-align: center;

            p{
                color: white;
                font-weight: bold;
                font-size: x-large;
            }
        }
    }

    .taskBoardMainHead {
        width: auto;
        min-width: 100vw;
        min-height: 50px;
        background-color: #815ac0;
        padding: 8px 12px;
        display: flex;
        align-items: center;

        .boardheadingparStyle {
            color: white;
            font-weight: bold;
            font-size: larger;
            margin-bottom: 0;

        }

        .taskboardaddlist {
            color: white;
            font-weight: bold;
            background-color: #a06cd5;
            text-align: left;
            margin-left: 16px;
        }

        .taskboardaddlist:hover {
            color: #47126b;
            font-weight: bolder;
            background-color: #d2b7e5;
            border: 1px solid #6d23b6;
        }

    }


    .taskslistdiv {
        display: flex;
        min-width: 250px;
        width: auto;
    }
}